<% provide(:title, "Home") %>
<h1>NRL FANTASY</h1>
<div class="center jumbotron">
  <h1>Welcome to the Player Selector</h1>

  <h2>
    This page is not affiliated with the NRL or NRL fantasy respectively.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
